<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangjikai.dao.EmployeeDao">
    <select id="count" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM employee
        <if test="employee != null">
            <where>
                <if test="employee.department != null and employee.department.id != null and employee.department.id != 0 ">
                    dept_id = #{employee.department.id}
                </if>
                <if test="employee.job != null and employee.job.id != null and employee.job.id !=0 ">
                    AND job_id = #{employee.job.id}
                </if>
                <if test="employee.name != null and employee.name != ''">
                    AND name LIKE CONCAT('%',#{employee.name},'%')
                </if>
                <if test="employee.phone != null and employee.phone != ''">
                    AND phone LIKE CONCAT('%',#{employee.phone},'%')
                </if>
                <if test="employee.card_id != null and employee.card_id != ''">
                    AND card_id LIKE CONCAT('%',#{employee.card_id},'%')
                </if>
                <if test="employee.sex != null">
                    AND sex = #{employee.sex}
                </if>
            </where>
        </if>
    </select>

    <select id="findByPage" parameterType="map" resultMap="employeeResultMap">
        SELECT
        e.id,d.`name` department,j.`name` job,e.`name`,e.card_id,e.address,e.post_code,e.tel,e.phone,e.qq,e.email,e.sex,e.party,e.birthday,e.race,e.education,e.speciality,e.hobby,e.remark,e.createdate
        FROM employee AS e LEFT JOIN department AS d
        ON e.dept_id = d.id
        LEFT JOIN job AS j
        ON e.job_id = j.id
        <if test="employee != null">
            <where>
                <if test="employee.department != null and employee.department.id != null and employee.department.id != 0 ">
                    e.dept_id = #{employee.department.id}
                </if>
                <if test="employee.job != null and employee.job.id != null and employee.job.id !=0 ">
                    AND e.job_id = #{employee.job.id}
                </if>
                <if test="employee.name != null and employee.name != ''">
                    AND e.name LIKE CONCAT('%',#{employee.name},'%')
                </if>
                <if test="employee.phone != null and employee.phone != ''">
                    AND e.phone LIKE CONCAT('%',#{employee.phone},'%')
                </if>
                <if test="employee.card_id != null and employee.card_id != ''">
                    AND e.card_id LIKE CONCAT('%',#{employee.card_id},'%')
                </if>
                <if test="employee.sex != null">
                    AND e.sex = #{employee.sex}
                </if>
            </where>
        </if>
        ORDER BY e.id
        <if test="page != null">
            LIMIT #{page.current},#{page.rowCount};
        </if>
    </select>

    <resultMap id="employeeResultMap" type="com.wangjikai.domain.Employee">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="card_id" column="card_id"/>
        <result property="address" column="address"/>
        <result property="post_code" column="post_code"/>
        <result property="tel" column="tel"/>
        <result property="phone" column="phone"/>
        <result property="qq" column="qq"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="party" column="party"/>
        <result property="birthday" column="birthday"/>
        <result property="race" column="race"/>
        <result property="education" column="education"/>
        <result property="speciality" column="speciality"/>
        <result property="hobby" column="hobby"/>
        <result property="remark" column="remark"/>
        <result property="createdate" column="createdate"/>
        <association property="department" javaType="com.wangjikai.domain.Department">
            <result property="name" column="department"/>
        </association>
        <association property="job" javaType="com.wangjikai.domain.Job">
            <result property="name" column="job"/>
        </association>
    </resultMap>

    <insert id="save" parameterType="com.wangjikai.domain.Employee" useGeneratedKeys="true" flushCache="true">
        INSERT INTO employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="department != null">
                dept_id,
            </if>
            <if test="job != null">
                job_id,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="card_id != null and card_id != ''">
                card_id,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="post_code != null and post_code != ''">
                post_code,
            </if>
            <if test="tel != null and tel != ''">
                tel,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="qq != null and qq != ''">
                qq,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="party != null and party != ''">
                party,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="race != null and race != ''">
                race,
            </if>
            <if test="education != null and education != ''">
                education,
            </if>
            <if test="speciality != null and speciality != ''">
                speciality,
            </if>
            <if test="hobby != null and hobby != ''">
                hobby,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="department != null">
                #{department.id},
            </if>
            <if test="job != null">
                #{job.id},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="card_id != null and card_id != ''">
                #{card_id},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="post_code != null and post_code != ''">
                #{post_code},
            </if>
            <if test="tel != null and tel != ''">
                #{tel},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="qq != null and qq != ''">
                #{qq},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="party != null and party != ''">
                #{party},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="race != null and race != ''">
                #{race},
            </if>
            <if test="education != null and education != ''">
                #{education},
            </if>
            <if test="speciality != null and speciality != ''">
                #{speciality},
            </if>
            <if test="hobby != null and hobby != ''">
                #{hobby},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="createdate != null">
                #{createdate},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM employee WHERE id = #{id};
    </delete>

    <select id="findById" parameterType="Integer" resultMap="employeeResultMap">
        SELECT * FROM employee WHERE id = #{id};
    </select>

    <update id="update" parameterType="com.wangjikai.domain.Employee">
        UPDATE employee
        <set>
            <if test="department != null">
                dept_id = #{department.id},
            </if>
            <if test="job != null">
                job_id = #{job.id},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="card_id != null and card_id != ''">
                card_id = #{card_id},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="post_code != null and post_code != ''">
                post_code = #{post_code},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="qq != null and qq != ''">
                qq = #{qq},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="party != null">
                party = #{party},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="race != null and race != ''">
                race = #{race},
            </if>
            <if test="education != null and education != ''">
                education = #{education},
            </if>
            <if test="speciality != null and speciality != ''">
                speciality = #{speciality},
            </if>
            <if test="hobby != null and hobby != ''">
                hobby = #{hobby},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createdate != null">
                createdate = #{createdate},
            </if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>