<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangjikai.dao.PermissionDao">
    <select id="findById" resultType="com.wangjikai.domain.Permission" parameterType="Integer">
        SELECT * FROM permission WHERE id  = #{id};
    </select>
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM permission WHERE id = #{id};
    </delete>
    <update id="update" parameterType="com.wangjikai.domain.Permission">
        UPDATE permission
        <set>
            <if test="pId != null">pId=#{pId},</if>
            <if test="pCode != null">pCode=#{pCode},</if>
            <if test="name != null">`name`=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="url != null">url=#{url},</if>
        </set>
        WHERE id = #{id};
    </update>
    <insert id="addPermission" parameterType="com.wangjikai.domain.Permission">
        INSERT INTO permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">
                pId,
            </if>
            <if test="pCode != null and pCode != ''">
                pCode,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="url != null and url != ''">
                url,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="pId != null and pId != ''">
                #{pId},
            </if>
            <if test="pCode != null and pCode != ''">
                #{pCode},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="url != null and url != ''">
                #{url},
            </if>
        </trim>
    </insert>
    <select id="selectByPage" parameterType="map" resultType="com.wangjikai.domain.Permission">
        SELECT * FROM permission
        <if test="permission != null">
            <where>
                <if test="permission.pId != null and permission.pId != '' or permission.pId == 0">
                    pId = #{permission.pId}
                </if>
                <if test="permission.pCode != null and permission.pCode != ''">
                    AND pCode = #{permission.pCode}
                </if>
                <if test="permission.name != null and permission.name != ''">
                    AND `name` LIKE CONCAT('%',#{permission.name},'%')
                </if>
                <if test="permission.description != null and permission.description != ''">
                    AND description LIKE CONCAT('%',#{permission.description},'%')
                </if>
                <if test="permission.url != null and permission.url != ''">
                    AND url LIKE CONCAT('%',#{permission.url},'%')
                </if>
            </where>
        </if>
        <if test="page != null">
            LIMIT #{page.current},#{page.rowCount};
        </if>
    </select>
    <select id="count" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM permission
        <if test="permission != null">
            <where>
                <if test="permission.name != null and permission.name != ''">
                    `name` LIKE CONCAT('%',#{permission.name},'%')
                </if>
                <if test="permission.description != null and permission.description != ''">
                    AND description LIKE CONCAT('%',#{permission.roleCode},'%')
                </if>
                <if test="permission.description != null and permission.description != ''">
                    AND url LIKE CONCAT('%',#{permission.url},'%')
                </if>
            </where>
        </if>
    </select>
</mapper>